/*variables de colores*/
:root{
	--color-primary: #2b2e4a;
	--color-primary-o: #2a2c3d;
	--color-primary-xo: #252630;
	--color-primary-l: #3b3f61;
	--color-primary-xl: #4b4e6a;

	--color-secundary: #e84545;
	--color-secundary-o: #e13232;
	--color-secundary-xo: #c53030;
	--color-secundary-l: #f36c6c;
	--color-secundary-xl: #f28f8f;

	--color-text: #1d201a;
	--color-text-l: #9da398;
	--color-text-xl: #c4c9bf;

}
html{
	scroll-behavior: smooth;
}

/*etiquetas de colores*/
.color-secondary{
	color: var(--color-secundary-l)
}
.explicacion{
	text-align: center;
	grid-column-start: 1;
  	grid-column-end: 3;
}
.cita{
	font-style: italic;
	color: var(--color-text-l);
	text-align: center;
	font-size: 18px
}

.border-top{
border-top: 5px solid transparent;
border-image: linear-gradient(to right, var(--color-secundary-o) 0%, var(--color-primary-l) 100%);
border-image-slice: 1;

}
.border-bottom{
border-bottom: 2px solid transparent;
border-image: linear-gradient(to right, var(--color-secundary-o) 0%, var(--color-primary-l) 100%);
border-image-slice: 1;

}

body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-primary-xo)
}



/*nav*/
.nav{
	background-color: var(--color-primary);
	display: flex;
	padding: 0.5em 0
}
.nav_logo{
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-left: 10px;
	display: relative
}
.nav_list{
	display: flex;
	padding: 0;
	margin-right: auto;
	margin-left: auto

}
.nav_item{
	margin: 0 0.3em;
	list-style: none;
	font-size: 11px;
	text-decoration: none;
	background-color: var(--color-secundary-xl);
	transition: 0.5s;
	border-radius: 5px;
	color: var(--color-text);
	transition: 0.5s;
	font-weight: bold;
	min-width: 55px;
	max-width: 55px;
}
.nav_item a{
	display: flex;
	justify-content: center;
	padding: 1em;
	text-decoration: none;
	color: inherit;
	text-align: center;
}
.nav_item:hover{
	background-color: var(--color-secundary-l);
	transition: 0.5s;
	border-radius: 5px;
	color: var(--color-text);
}


/*header*/
.header{
	/*background-image: url(../im/code.jpg);*/
	/*background-color: #fff;*/
	background-size: cover;
	width: 100%;
	height: 55vh;
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	grid-column-gap: 2em;
	background-color: #f36c6c;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%232a2c3d' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23f36c6c' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23e86570' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23dc6074' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23cf5b76' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23c25777' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b45378' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a55077' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23974d75' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23894a72' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%237a476e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%236d4469' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%235f4163' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23533d5c' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23473954' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%233d354c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23343043' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232c2b3a' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23252630' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-size: cover;
}
.header_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	margin: auto;
	backdrop-filter: blur(1px);
}
.header_logo{
	width: 70px;
	height: 70px;
	object-fit: cover;
	align-items: center;
	margin: 0 auto;
	/*margin-top: -2em;*/
}
.header_title{
	color: var(--color-text-xl);
	text-align: center;
	border-bottom: 1px solid var(--color-primary);
	font-size: 22px
}
.header_text{
	text-align: center;
	margin: -0.8em auto;
	font-size: 17px;
	color: var(--color-text-xl)
}
.header_link{
	text-decoration: none;
	color: var(--color-primary);
	font-size: 1.2em;
	border-bottom: 1px solid var(--color-primary);
	text-align: center;
	position: relative;
	top: 100%;
}

/*container*/
.container{
	color: var(--color-text-xl);
	margin: 2em 1em;
}

/*about*/
.about{
	border-bottom: 2px dashed var(--color-secundary-xl);
	margin-bottom: 1em;
}
.about_icon{
	font-size: 1.3em
}
.about_1{
	padding: 2em 1em;
	padding-top: 0
}
.about_2{
	background-color: var(--color-primary-o);
	width: 100%;
	height: 100%;
	padding: 2em 1em;
	position: relative;
	right: 5%;
	bottom: 3.5%;
	z-index: -1;
	text-align: center;
}
.about2_icon{
	font-size: 1.5em
}
.about_box{
	border: 1px solid var(--color-primary-l);
	border-radius: 5px;
	margin: 1em;
}

/*aptitudes*/
.aptitudes_container{
	border-bottom: 2px dashed var(--color-secundary-xl);
}
.aptitudes{
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	grid-column-gap: 1em;
	justify-content: center;
	align-content: baseline;
}
.aptitudes_title{
	text-align: center;
	grid-column-start: 1;
  	grid-column-end: 3;
  	font-size: 30px;
}
.aptitudes_icon{
	font-size: 5em;
}
.aptitudes_card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align:center;
	margin: 1em auto;
	padding: 3em;
	min-width: 3em;
	max-width: 3em;
	min-height: 3em;
	max-height: 3em;
	background-color: var(--color-primary-xl);
	border-radius: 5px;
	transition: box-shadow 0.5s;
}
.aptitudes_card:hover{

	box-shadow: -20px 0px 50px -10px rgba(243,108,108, 0.60) inset;
	transition: box-shadow 0.5s;
}
.punta-punta3{
	grid-column-start: 1;
  	grid-column-end: 3;
}
.punta-punta4{
	grid-column-start: 1;
	grid-column-end: 4
}
/*Proyectos*/
.projects{
	border-bottom: 2px dashed var(--color-secundary-xl);
	display: flex;
	flex-direction: column;
	grid-column-gap: 0.5em;
	justify-content: center;
}
.project_card{
	/*display: flex;
	flex-direction: column;*/
	/*justify-content: center;
	align-content: center;
	align-items: center;
	text-align:center;*/
	margin: 1em auto;
	min-width: 18em;
	max-width: 18em;
	min-height: 25em;
	background-color: var(--color-primary-xl);
	box-shadow: 0px 10px 40px #111;
}
.project_img{
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.project_content{
	margin: 0 1em;
	text-align: center;
}
.project_text{
	margin-bottom: 2em;
}
.project_btn{
	background-color: var(--color-secundary-l);
	color: var(--color-primary-xo);
	text-decoration: none;
	padding: 0.7em;
	border-radius: 5px;
	margin: 0 0.1em;
	transition:1s;
	font-weight: bold
}
.project_btn:hover{
	background-color: var(--color-secundary-xl);
	transition:1s;
}
.btn_borde{
	background-color: transparent;
	border: 2px solid var(--color-secundary-l);
	color: var(--color-secundary-l);
	font-weight: bold;
}
.btn_borde:hover{
	background-color: transparent;
	border: 2px solid var(--color-secundary-l);
	color: var(--color-secundary-l)
}

.btns{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: relative;
	bottom: 10px;
	justify-content: center;
	align-items: center;
}

/*contact*/
.contact{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-row-gap: 1em;
	margin: 1em auto;
	justify-content: center;
}
.contact a{
	text-decoration: none;
	background-color: var(--color-primary-xl);
	margin: 0 10px;
	padding: 0.5em 1em;
	border-radius: 5px;
	min-width: 90px;
	max-width: 90px;
	transition: box-shadow 0.5s;
}
.contact a:hover{
	box-shadow: -20px 0px 50px -10px rgba(243,108,108, 0.60) inset;
}
.contact_content{
	text-align: center;
	color: var(--color-text-xl)
}
.contact_icon{
	font-size: 50px;
	color: var(--color-secundary-l);
}
.contact_text{
	font-size: 20px;
	font-weight: bold;
	margin-top: 7px
}

/*footer*/
.footer{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: var(--color-primary);
	color: var(--color-text-xl);
	font-size: 19px;
	width: 100%;
	height: 70px;
	margin: 0;
}

/*responsive menu*/
.bars-button {
	display: flex !important;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	z-index: 99;
	right: 7px;
	top: 10px;
	color: #a2a3b7;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
}
.nav{
	height: 50px
}
.nav_item{
	padding: 1em 2em;
	margin: 1em;
	font-size: 13px
}
.nav_list{
	position: fixed;
	background: rgba(0, 0, 0, .5);
	z-index: 98;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	display: flex;
	justify-content: center;
	transition: .3s;
	flex-direction: column;
	align-items: center;
	margin: 0
}

@media screen and (min-width: 600px){
	.nav_list{
	position: static;
	background: transparent;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	bottom: 0;
	display: flex;
	transition: .3s;
	flex-direction: row;
	margin-right: 0 !important;
	justify-content: flex-end;
}
	.nav_item{
		padding: 0
	}
	.bars-button{
		display: none !important;
	}
	.about_2{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 0.8em;
		padding-top: 0.3;
		padding-right: 1.3em
	}
	.about_box{
		padding: 1em
	}
	.aptitudes_container{
		padding-top: 3em;
		padding-bottom: 3em
	}
	.container{
		margin-left: 1.5em;
		margin-right: 1.5em
	}

	.nav_list{
		align-self: center;
		margin-right: 1em
	}
	.nav_item{
		min-width: 90px;
		max-width: 90px;
		font-size: 13px
	}
	.nav_logo{
		display: initial;
	}
	.about{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 3em;
		align-items: center;
	}
	.about_title{
		text-align: center;
		font-size: 2.5em
	}
	.about_p{
		font-size: 19px
	}

	.aptitudes{
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
	}
	.aptitudes_title{
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.punta-punta3{
		grid-column-start: initial;
		grid-column-end: initial; 
	}

	.projects{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		padding-bottom: 6em;
		padding-top: 3em;
		margin-bottom: 3em;
	}
	.project_card{
		margin: 1em
	}

	.contact{
	padding: 2em;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
	grid-row-gap: auto;
	margin: 1em auto;
	justify-content: center;
}
}

@media screen and (min-width: 1000px) {
	.header_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column-gap: 2em;
	padding: 4em;
	background-color: rgb(42, 44, 61, .7);
	border-radius: 5px;
	box-shadow: 0px 10px 25px #222;
	width: 300px;
}
	.nav_logo{
		margin-left: 2em;
		display: flex;
		margin-top: auto;
		margin-bottom: auto;
	}
	.nav_list{
		margin-right: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nav_item{
		min-width: 110px;
		max-width: 110px;
		padding: 0
	}
	.nav_item a{
		font-size: 16px
	}
	.aptitudes_container{
		display: grid;
		grid-template-columns: auto auto
	}
	.header{
		padding-top: 8em;
		padding-bottom: 8em
	}

	.about{
		display: grid;
		grid-template-columns: 1fr 1fr
	}
	.about_1{
		padding-top: 0
	}
	.about_2{
		padding: 1em 2em;
		right: 7%
	}
	.about2_icon{
		font-size: 2em
	}
	.about_title_flex{
		margin-left: auto
	}

	.nav_list{
		justify-content: flex-end;
	}
}

/*etiquetas*/
.mt-0{
	margin-top: 0px;
}
